* {
  box-sizing: border-box;
}

html, body {
  background: #f0f0f0;
}

body {
  padding: 28px 15px 0;
  line-height: 1.7;
  color: #333;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-weight: normal;
  margin-bottom: .5em;
}

.box {
  padding: 28px;
  border-color: #5898B2 transparent #FF7C93;
  background: #FFF;
}

.photo {
  border-color: #4a4a4a transparent;
}

.box, 
.photo {
  max-width: 800px;
  border-width: 8px 0;
  border-style: solid;
  margin: 0 auto 28px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}
